models/Phi-3-mini-128k-instruct.fp16.bin
.vscode/settings.json
data_combined.csv
data_embeddings.csv
output384.csv
output100.csv
data_minilm_tokenized.csv
data_tokens/*
embeddings_384.dat
embeddings.db
embeddings.db.wal
output384.db
__pycache__/EmbeddingDB.cpython-310.pyc
utils/__pycache__/meanpooling.cpython-310.pyc
*.pkl
*.png